/*** form-container ***/
.form-container {
  margin-top: var(--lg-space);
  padding: var(--xl-space);
}
.form-text {
  margin-top: var(--sm-space);
}
.redirect-link .link-btn {
  width: 60%;
  margin: auto;
  column-gap: var(--sm-space);
}
/*******/
