:root {
  /* font-family */
  --font-family-ultra: "ultraregular", sans-serif;

  /* spacing */
  --sm-space: 0.5rem;
  --md-space: 1rem;
  --lg-space: 1.5rem;
  --xl-space: 2rem;
  --xxl-space: 2.5rem;
  --xxxl-space: 3rem;
}
@font-face {
  font-family: "ultraregular";
  src: url("/fonts/ultra.woff") format("woff2"), url("/fonts/ultra.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/***nav-bar***/
.nav {
  box-shadow: var(--nav-bar-shadow);
}
.nav-heading {
  text-decoration: none;
  color: var(--primary-color);
  font-family: var(--font-family-ultra);
}
.nav-link {
  text-decoration: none;
}
.nav-link:hover {
  border-bottom: 2px solid var(--secondary-color);
}
/*******/

/*** main-container ***/
.main-container {
  width: 90%;
  margin: auto;
  padding: var(--lg-space);
  display: flex;
  flex-direction: column;
  row-gap: var(--xxl-space);
}
/*******/

/*** banner ***/
.banner-details {
  display: flex;
  flex-direction: column;
  row-gap: var(--md-space);
  justify-content: center;
  padding: var(--lg-space);
}
.banner-heading {
  font-family: var(--font-family-ultra);
  word-spacing: 20px;
  font-size: 3rem;
}
/*******/

/*** category-section ***/
.category-section {
  display: flex;
  flex-direction: column;
  row-gap: var(--xl-space);
}
.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--lg-space);
  justify-items: center;
}
.card-paragraph {
  padding: 0.5rem 0.75rem;
}
/*******/

/*** footer ***/
.footer {
  background-color: var(--secondary-color);
  padding: var(--xl-space);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-list {
  column-gap: 2rem;
  color: var(--primary-color);
  font-size: 1.5rem;
}
.footer-links {
  text-decoration: none;
  color: var(--btn-dark-color);
}
/*******/

/*** style-for-quiz-display ***/
.quiz-display-container {
  padding: var(--xl-space);
  display: flex;
  column-gap: var(--lg-space);
  row-gap: var(--lg-space);
  flex-wrap: wrap;
}
/*******/

@media only screen and (max-width: 1500px) {
  .category-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1100px) {
  .category-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 750px) {
  html {
    font-size: 12px;
  }
  .category-grid {
    grid-template-columns: 1fr;
  }
  .banner-heading {
    font-size: 2rem;
  }
}
/*** card-styles ***/
/*TODO: Move to CL*/
.vertical-card {
  min-height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.block-btn {
  width: 100%;
}
.card-call-to-action {
  margin-top: auto;
}
.card-info-container {
  margin: auto auto;
  width: 100%;
}
/******/
